html {
  height: 100%;
}

body{
  padding-top: 50px;
}

h1, h2, h3, h4 {
  text-align: center;
  margin-bottom: 30px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

table, th {
  text-align: center;
}

.fa-file-word-o {
  color: #0060ac;
  background-color: white;
}

a:hover {
	text-decoration: none;

}