/*General*/
html {
  height: 100%;
}

body{
  padding-top: 80px;
}

a {
  color: #27971B;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

/*Base*/
.content{
  min-height: 83%;
  padding-top: 40px;
  bottom: 0;
}

.container-header {
  border-style: solid;
  border-width: 1;
  -webkit-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.fa-file-word-o {
  color: #0060ac;
  background-color: white;
}

/*Botones de archivos*/
.btn-primary {
  background-color: #44B036;
  border-color: #143410;
  width: 100%;
}

.btn-primary:hover {
  background-color: #27971B;
}

.espacio {
  padding-bottom: 100px;
}