/*General*/
html {
  height: 100%;
}

body{
  padding-top: 80px;
}

a {
  color: #1B6B13;
}
a:hover, a:active {
  color: #0d3309;
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-align: center;
}

/*Base*/
.content{
  min-height: 83%;
  padding-top: 40px;
  bottom: 0;
}

.container-header {
  border-style: solid;
  border-width: 1;
  -webkit-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.fa-file-word-o {
  color: #0060ac;
  background-color: white;
}

/*Botones de archivos*/
.btn-primary {
  background-color: #44B036;
  border-color: #143410;
  width: 100%;
}

.btn-primary:hover {
  background-color: #27971B;
}

.espacio {
  padding-bottom: 100px;
}

    .titulo-tabla {
      background-color: #44B036;
      font-weight: bold;
    }
    .dummy {
      margin-top: 100%;
    }
    .thumbnail {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align:center;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid black 0.5px;
      background-color: #eeeee1;
      color: black;
    }
    .thumbnail:hover {
      color: #848484;
    }
    .thumbnail-inprogress {
      background-color: #DFF336;
      color: black;
    }
    .thumbnail-inprogress:hover {
      background-color: #D2E532 ;
      color: black;
    }
    .thumbnail-available {
      background-color: #44B036;
      color: white;
    }
    .thumbnail-available:hover {
      background-color: #197D0E;
      color: white;
    }
    .thumbnail-prueba-en-espera {
      background-color: yellow;
      color: black;
    }
    .thumbnail-prueba-en-espera:hover {
      background-color: #E5BB31;
      color: black;
    }
    .thumbnail-prueba-aprobado {
      background-color: green;
      color: white;
    }
    .thumbnail-prueba-aprobado:hover {
      background-color: #006600;
      color: white;
    }
    .thumbnail-prueba-no-aprobado {
      background-color: red;
      color: white;
    }
    .thumbnail-prueba-no-aprobado:hover {
      background-color: #F00000 ;
      color: white;
    }