html {
  height: 100%;
}

body{
  padding-top: 80px;
}

h1, h2, h3, h4 {
  text-align: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

table, th {
  text-align: center;
}

.fa-file-word-o {
  color: #0060ac;
  background-color: white;
}

a:hover {
	text-decoration: none;

}

.content{
      min-height: 83%;
      padding-top: 40px;
      bottom: 0;
}

.container-header {

  border-style: solid;
  border-width: 1;
  -webkit-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
  box-shadow: 10px 5px 0px -2px rgba(0,0,0,0.52);
}

.btn-primary {
  background-color: #44B036;
  border-color: #143410;
}

.btn-primary:hover {
  background-color: #27971B;
}

td, tr, table, thead {
  border-style: solid black 1px;
}

thead{
  background-color: #44B036;
}
tbody {
  background-color: #eeeeee;
}

th {
  border-style: none;
}