{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12">
			<h1>Nombre: {{escuela.get_full_name}}</h1>
			<h2>CCT: {{escuela.username}}</h2>
			{%if request.user.perfil.tipo != "Laboratorio" or request.user.perfil.tipo != "CEstatal"%}
				{%if request.user.perfil.tipo != "Escuela"%}
				<p><a href="{%url 'accounts:ListViewEscuelas' municipio.pk%}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Regresar a municipio</a></p>
				{%endif%}
			{%endif%}

			{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Laboratorio" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "CEstatal" or request.user.perfil.tipo == "Administrador"%}
			<p><a href="{%url 'accounts:ListViewAvanceEscuelas' entidad.slug%}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Regresar a reporte general</a></p>			
			{%endif%}


			{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador"%}
			<br>
			<a href="{%url 'accounts:UpdateViewEscuela' escuela.username%}">Actualizar datos</a>
			<br>
			{%endif%}
		
		{%if request.user.perfil.tipo != "Escuela"%}
		
			<h3>Información de la institución</h3>

			<!--Tabla de Información de la escuela-->
		
			<div class="table-responsive text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="12">Nivel educativo</th>
							<th colspan="12">Avance de construcción</th>
							<th colspan="12">Turno</th>
							<th colspan="12">Matrícula</th>
							<th colspan="12">Director</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="12">{{perfil.nivel_educativo}}</td>
							<td colspan="12">{%if perfil.avance%}{{perfil.avance}}%{%endif%}</td>
							<td colspan="12">{%if perfil.turno%}{{perfil.turno}}{%endif%}</td>
							<td colspan="12">{{perfil.plantilla_escolar}}</td>
							<td colspan="12">{%if perfil.director%}{{perfil.director}}{%endif%}</td>							
						</tr>
					</tbody>
					<thead>
						<tr>
							<th colspan="12">Teléfono</th>
							<th colspan="12">Correo electrónico</th>
							<th colspan="12">Domicilio</th>
							<th colspan="12">Referencias</th>
							<th colspan="12">Foto de la entrada</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="12">{%if perfil.telefono%}{{perfil.telefono}}{%endif%}</td>
							<td colspan="12">{{escuela.email}}</td>
							<td colspan="12">{{perfil.domicilio}}</td>
							<td colspan="12">{%if perfil.referencias%}{{perfil.referencias}}{%endif%}</td>
							<td colspan="12">{%if perfil.foto_escuela%}<a href="{{perfil.foto_escuela.url}}">Ver</a>{%endif%}</td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th colspan="12">Municipio</th>
							<th colspan="12">Zona</th>
							<th colspan="12">Estado</th>
							<th colspan="12">Partida</th>
							<th colspan="12">Región</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="12">{{perfil.municipio.nombre}}</td>
							<td colspan="12">{{zona.nombre}}</td>
							<td colspan="12">{{entidad}}</td>
							<td colspan="12">{{entidad.partida}}</td>
							<td colspan="12">{{region}}</td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th colspan="15">Coordenadas</th>
							<th colspan="15">Geolocalización</th>
							<th colspan="15">Nombre de SSID (Red Wifi)</th>
							<th colspan="15">Contraseña de SSID</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="15">{%if perfil.coordenadas%}{{perfil.coordenadas}}{%endif%}</td>
							<td colspan="15">{%if perfil.coordenadas%}<a href="{%url 'accounts:DetailViewMapa' perfil.pk%}" target="_blank">Ver mapa</a>{%endif%}</td>
							<td colspan="15">{%if perfil.SSID%}{{perfil.SSID}}{%endif%}</td>
							<td colspan="15">{%if perfil.clave_SSID%}{{perfil.clave_SSID}}{%endif%}</td>
						</tr>
					</tbody>
				</table>
			</div>

		{%endif%}
			<!-- Tabla de Contactos-->
			<h2 class="espacio2">Contactos</h2>
			<h3>INIFED</h3>
			<div class="table-responsive text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Cargo</th>
							<th>Coordinador Regional</th>
							<th>Enlace Institucional</th>
							<th>Coordinador Estatal</th>
							<th colspan="{{rts|length}}"> {%if rts|length > 1%}Residentes Técnicos{%else%}Residente Técnico{%endif%}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="titulo-tabla">Nombre</td>
							<td>{{perfil.municipio.zona.entidad.region.coordinador_regional_inifed.get_full_name}}</td>
							<td>{{perfil.municipio.zona.entidad.region.enlace_institucional_inifed.get_full_name}}</td>	
							<td>{{perfil.municipio.zona.entidad.coordinador_estatal_inifed.get_full_name}}</td>
							{%for rt in rts%}
							<td>{{rt.get_full_name}}</td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>
						<tr>
							<td class="titulo-tabla" ">Teléfono</td>
							<td>{%if perfil.municipio.zona.entidad.region.coordinador_regional_inifed.perfil.telefono%}{{perfil.municipio.zona.entidad.region.coordinador_regional_inifed.perfil.telefono}}{%endif%}</td>
							<td>{%if perfil.municipio.zona.entidad.region.enlace_institucional_inifed.perfil.telefono%}{{perfil.municipio.zona.entidad.region.enlace_institucional_inifed.perfil.telefono}}{%endif%}</td>
							<td>{% if perfil.municipio.zona.entidad.coordinador_estatal_inifed.perfil.telefono%}{{perfil.municipio.zona.entidad.coordinador_estatal_inifed.perfil.telefono}}{%endif%}</td>
							{%for rt in rts%}
							<td>{%if rt.perfil.telefono%}{{rt.perfil.telefono}}{%endif%}</td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>
						<tr>
							<td class="titulo-tabla" ">Correo electrónico</td>
							<td>{{perfil.municipio.zona.entidad.region.coordinador_regional_inifed.email}}</td>
							<td>{{perfil.municipio.zona.entidad.region.enlace_institucional_inifed.email}}</td>			
							<td>{{perfil.municipio.zona.entidad.coordinador_estatal_inifed.email}}</td>
							{%for rt in rts%}
							<td>{{rt.email}} </td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>						
					</tbody>
				</table>
			</div>

			<h3>Ejecutora</h3>
			<div class="table-responsive text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Cargo</th>
							<th>
								Superintendente de Mantenimiento
							</th>						
							<th>Superintendente</th>
							<th colspan="{{ros|length}}"> {%if ros|length > 1%}Residentes de Obra{%else%}Residente de Obra{%endif%}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="titulo-tabla">Nombre</td>
							<td>{{perfil.municipio.zona.entidad.sim.get_full_name}}</td>
							<td>{{perfil.municipio.zona.entidad.superintendente.get_full_name}}</td>
							{%for ro in ros%}
							<td>{{ro.get_full_name}}</td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>
						<tr>
							<td class="titulo-tabla" ">Teléfono</td>
							<td>{% if perfil.municipio.zona.entidad.sim.perfil.telefono%}{{perfil.municipio.zona.entidad.sim.perfil.telefono}}{%endif%}</td>	
							<td>{%if perfil.municipio.zona.entidad.superintendente.perfil.telefono%}{{perfil.municipio.zona.entidad.superintendente.perfil.telefono}}{%endif%}</td>
							{%for ro in ros%}
							<td>{%if ro.perfil.telefono%}{{ro.perfil.telefono}}{%endif%}</td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>
						<tr>
							<td class="titulo-tabla" ">Correo electrónico</td>
							<td>{%if perfil.municipio.zona.entidad.superintendente.perfil.telefono%}{{perfil.municipio.zona.entidad.superintendente.email}}{%endif%}</td>
							<td>{% if perfil.municipio.zona.entidad.sim.perfil.telefono%}{{perfil.municipio.zona.entidad.sim.email}}{%endif%}</td>
							{%for ro in ros%}
							<td>{%if ro.email%}{{ro.email}}{%endif%}</td>
							{%empty%}
							<td></td>
							{%endfor%}
						</tr>						
					</tbody>
				</table>
			</div>			
		</div>
	</div>

	{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "INIFED"%}

	<h2>Especificaciones de Sistema Bebedero</h2>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Mueble</th>
					<th>Sistema bebedero</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{escuela.escuela.mueble}}</td>
					<td>{%if escuela.escuela.sistema_potabilizacion%}{{escuela.escuela.sistema_potabilizacion}}{%endif%}</td>			
				</tr>	
			</tbody>
		</table>
	</div>

	{%endif%}
	<!--Tabla de cronologia-->
	<div class="row justify-content-center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12 espacio2">
			<h2>Cronología general de la gestión, construcción, instalación y mantenimiento de un sistema bebedero</h2>
		</div>

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED"%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a class="thumbnail thumbnail-available container" href="{%url 'incidencias:CRViewIncidencias' perfil.pk%}">Bitácora de incidencias y notas</a>
		</div>
		{%endif%}

		{%if request.user.perfil.tipo == "Laboratorio" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Escuela"%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if primerPrueba.validacion == "En espera"%} class=" thumbnail container thumbnail-prueba-en-espera" {%elif primerPrueba.validacion == "No validado"%} class=" thumbnail container thumbnail-prueba-no-aprobado" {%elif primerPrueba.validacion == "Validado"%} class=" thumbnail container thumbnail-prueba-aprobado" {%else%} class="thumbnail container" {%endif%} href="{%url 'pruebas:CRUViewPrimerPrueba' perfil.pk%}">Primer prueba de calidad. 
			<br>Veredicto de calidad de agua: {{primerPrueba.validacion}}</a>
		</div>
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Escuela" or request.user.perfil.tipo == "INIFED"%}
		{%if primerPrueba%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if visitaDeAcuerdo%} class="thumbnail thumbnail-available container" {%else%} class="thumbnail container" {%endif%} href="{%url 'visitas:CRViewVisitaDeAcuerdo' perfil.pk%}">Visita de acuerdos</a>
		</div>
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Escuela"%}
		{%if primerPrueba%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if inicioDeTrabajo%} class="thumbnail thumbnail-available container" {%else%} class="thumbnail container" {%endif%} href="{%url 'construccion:CRViewInicioDeTrabajo' perfil.pk%}">Inicio de trabajo</a>
		</div>
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "CEO" or request.user.perfil.tipo == "CEstatal" or request.user.perfil.tipo == "Escuela"%}
		{%if primerPrueba%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if perfil.avance == 100%} class="thumbnail thumbnail-prueba-aprobado container" {%elif evidenciasConstruccion%} class="thumbnail thumbnail-prueba-en-espera" {%else%} class="thumbnail container" {%endif%} href="{%url 'construccion:CRViewEvidencias' perfil.pk%}">Evidencias de construccíón e instalación de mueble bebedero. <br>{%if perfil.avance%}Status: {%if perfil.avance == 100%}Finalizado{%else%}En construcción o revisión{%endif%}{%endif%}</a>
		</div>
		{%endif%}
		{%endif%}


		{%if request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Escuela" or request.user.perfil.tipo == "Ejecutora"%}
		{%if primerPrueba%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if sistemaBebedero.no_trazabilidad%} class="thumbnail thumbnail-available container" {%else%} class="thumbnail container" {%endif%} href="{%url 'bebederos:UpdateViewBebedero' perfil.pk%}"> Asignación de componentes del Sistema bebedero</a>
		</div>
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Laboratorio"  or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Escuela"%}
		{%if perfil.avance == 100%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if segundaPrueba.validacion == "En espera"%} class=" thumbnail container thumbnail-prueba-en-espera" {%elif segundaPrueba.validacion == "No validado"%} class=" thumbnail container thumbnail-prueba-no-aprobado" {%elif segundaPrueba.validacion == "Validado"%} class=" thumbnail container thumbnail-prueba-aprobado" {%else%} class="thumbnail container" {%endif%} href="{%url 'pruebas:CRUViewSegundaPrueba' perfil.pk%}">Segunda prueba de calidad.<br>Veredicto de calidad de agua: {{segundaPrueba.validacion}}</a>
		</div>
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Escuela"%}
		{%if segundaPrueba.validacion == "Validado"%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if funcionamiento%} class="thumbnail thumbnail-available container" {%else%} class="thumbnail container" {%endif%} href="{%url 'visitas:CRViewInicioFuncionamiento' perfil.pk%}"> Inicio de funcionamiento</a>
		</div>
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Escuela" or request.user.perfil.tipo == "PQ"%}
		{%if funcionamiento%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if mantenimientos.count == 24%} class="thumbnail thumbnail-available container"{%elif mantenimientos.count > 0 and mantenimientos.count < 24%} class="thumbnail thumbnail-prueba-en-espera container" {%elif mantenimientos.count == 0%} class="thumbnail container"{%endif%} href="{%url 'mantenimiento:CRViewMantenimientos' perfil.pk%}">Mantenimientos <br> {%if mantenimientos.count != 0%}Cantidad: {{mantenimientos.count}}{%endif%}</a>
		</div>
		{%endif%}
		{%endif%}


		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Escuela"%}
		{%if mantenimientos.count == 24%}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12">
			<div class="dummy"></div>
			<a {%if actaEntrega%} class="thumbnail thumbnail-available container" {%else%} class="thumbnail container" {%endif%} href="{%url 'visitas:CRViewActaEntrega' perfil.pk%}"> Acta de entrega</a>
		</div>
		{%endif%}
		{%endif%}

	</div>

	<script>
	$('.popup').click(function (event) {
	event.preventDefault();
	window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
	});
	</script>

{%endblock content%}