{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

<h4>Información general</h4>

<p><a href="{%url 'accounts:ListViewEscuelas' municipio.pk%}">Regresar</a></p>

<!--Tabla de Información de la escuela-->
<div class="row justify-content-center">
	<div class="table-responsive text-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="3">CCT</th>
					<th colspan="3">Nombre de la escuela</th>
					<th colspan="3">Status</th>
					<th colspan="3">Avance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">{{escuela.username}}</td>
					<td colspan="3">{{perfil.tipo}} {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</td>
					<td colspan="3">{%if perfil.status%}{{perfil.status}}{%else%}Pendiente{%endif%}</td>
					<td colspan="3">{%if perfil.avance%}{{perfil.avance}}%{%endif%}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="3">Turno</th>
					<th colspan="3">Matricula</th>
					<th colspan="3">Director</th>
					<th colspan="3">Foto</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">{{perfil.turno}}</td>
					<td colspan="3">{{perfil.plantilla_escolar}}</td>
					<td colspan="3">{{perfil.director}}</td>
					<td colspan="3">{%if perfil.foto_director%}<a href="{{perfil.foto_director.url}}">Ver</a>{%else%}Nota: Subir foto del Director{%endif%}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="3">Telefono</th>
					<th colspan="3">Mail</th>
					<th colspan="3">Domicilio</th>
					<th colspan="3">Referencias</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">{{perfil.telefono}}</td>
					<td colspan="3">{{escuela.email}}</td>
					<td colspan="3">{{perfil.domicilio}}</td>
					<td colspan="3">{{perfil.referencias}}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="3">Municipio</th>
					<th colspan="3">Zona</th>
					<th colspan="3">Partida/Estado</th>
					<th colspan="3">Región</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">{{perfil.municipio.nombre}}</td>
					<td colspan="3">{{zona.nombre}}</td>
					<td colspan="3">{{entidad}}</td>
					<td colspan="3">{{region}}</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="4">Aulas existentes</th>
					<th colspan="4">Aulas en uso</th>
					<th colspan="4">Tipo de Conexión</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4">{{perfil.aulas_existentes}}</td>
					<td colspan="4">{{perfil.aulas_en_uso}}</td>
					<td colspan="4">{{perfil.conexion}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Tabla de Contactos-->
<h2>Contactos</h2>
<div class="row justify-content-center">
	<div class="table-responsive text-center">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Coordinador Estatal</th>
					<th>Residente Técnico</th>
					<th>Superintendente</th>
					<th>Ejecutora</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{perfil.municipio.zona.entidad.coordinador_estatal.get_full_name}}</td><td>{{perfil.municipio.zona.entidad.residente_tecnico.get_full_name}}</td>
					<td>{{perfil.municipio.zona.entidad.partida.si.get_full_name}}</td>
					<td>{{sistemaBebedero.ejecutora}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2>Cronología general de la gestión, construcción, instalación y mantenimiento de un sistema bebedero</h2>

<style type="text/css">

.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: solid black 0.5px;
    background-color: #eeeee1;
    color: black;
	}

.thumbnail:hover {
	color: #848484;
</style>


	<div class="row">
  
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a style="background-color: #44B036;" class="thumbnail" href="{%url 'incidencias:ViewIncidencias' perfil.pk%}">Incidencias</a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
       

        <a style="background-color: #44B036;" class="thumbnail" href="{%url 'visitas:ViewVisitaAlSitio' perfil.pk%}">Visita al sitio</a>

      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if visitaAlSitio%} style="background-color: #44B036;" {%endif %}class="thumbnail" href="{%url 'visitas:ViewVisitaDeAcuerdo' perfil.pk%}">Visita de acuerdos</a>

	   </div>
       <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if visitaDeAcuerdo%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'pruebas:ViewPrimerPrueba' perfil.pk%}">Primer prueba de calidad <br>Status: {{primerPrueba.aprobacion}}</a>
	   </div>
       <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if primerPrueba%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'bebederos:ViewBebederos' perfil.pk%}"> Asignación de componentes del Sistema bebedero</a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if sistemaBebedero%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'construccion:ViewInicioDeTrabajo' perfil.pk%}">Inicio de trabajos</a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if inicioDeTrabajo%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'construccion:ViewInstalacionBebedero' perfil.pk%}">Instalación de bebedero</a>
	   </div>
       <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if instalacionBebedero%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'construccion:ViewBitacora' perfil.pk%}">Bitacora</a>
	   </div>


       <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if bitacora%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'construccion:ViewTerminoDeTrabajo' perfil.pk%}">Termino de trabajos</a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if terminoDeTrabajo%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'pruebas:ViewSegundaPrueba' perfil.pk%}">Segunda prueba de calidad<br>Status: {{segundaPrueba.aprobacion}}</a>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if segundaPrueba%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'visitas:ViewEntregaDeBebedero' perfil.pk%}">Entrega de bebedero</a>
	   </div>
       <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="dummy"></div>
        <a {%if entregaDeBebedero%} style="background-color: #44B036;" {%endif%} class="thumbnail" href="{%url 'mantenimiento:ViewMantenimientos' perfil.pk%}">Mantenimiento</a>
	   </div>

      
  	</div>

{%endblock content%}