{%extends 'base.html'%}

{%block content%}
  
  <div class="row justify-content-center" >
    <div class="col-12 col-sm-12 col-md-12">
        <h1>Regiones</h1>
    </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número</th>
          <th>Nombre</th>          
        </tr>
      </thead>
      <tbody>
    {%for region in regiones%}
      <tr>
        <td>{{region.numero}}</td>
        <td><a href="{%url 'accounts:ListViewEntidades' region.numero%}">{{region.nombre}}</a></td>        
      </tr>


    {%empty%}

    <div class="col-12">
      <h3>Aún no se han registrado regiones</h3>
    </div>

  {%endfor%}
     </tbody>
    </table>
  </div>
</div>  

{%endblock content%}