{%extends 'base.html'%}

{%block content%}

<h1>Entidades {%if request.user.perfil.tipo == "Admistrador" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "PQ" or request.user.perfil.cargo == "CRINIFED" or request.user.perfil.tipo == "Administrador" or request.user.perfil.cargo == "EIINIFED"%} de la Región {{region.numero}}: {{region.nombre}} {%endif%}</h1>

{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "PQ"%}
<p><a href="{%url 'accounts:ListViewRegiones'%}">Regresar</a></p>
{%endif%}

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				{%if request.user.perfil.cargo == "SIM" or request.user.perfil.cargo == "Administrador"%}
				<th rowspan="2">Región</th>
				{%endif%}
				<th rowspan="2">Partida</th>
				<th rowspan="2" >Estado</th>
				<th rowspan="2" colspan="2">Ver</th>
				<th colspan="2">Escuelas</th>
			</tr>
			<tr>
				<th>Asignadas</th>
				<th>Registradas</th>				
			</tr>
		</thead>
		<tbody>
	
	{%for entidad in entidades%}
	
			<tr>
				{%if request.user.perfil.cargo == "SIM" or request.user.perfil.cargo == "Administrador"%}
				<td>{{entidad.region}}</td>
				{%endif%}
				<td>{{entidad.partida}}</td>
				<td>{{entidad}}</td>	
				<td><a href="{%url 'accounts:ListViewZonas' entidad.slug%}">Zonas</a></td>	
				<td><a href="{%url 'accounts:ListViewAvanceEscuelas' entidad.slug%}">Reporte general</a></td>
			
				<td>{{entidad.escuelas_asignadas}}</td>
				<td>{{entidad.escuelas_registradas}}</td>								
			</tr>
	{%empty%}

			<tr>
				
				<td colspan="10">No hay entidades asignadas</td>
			</tr>

	{%endfor%}
		</tbody>
	</table>
</div>
{%endblock content%}