{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}


	<h1>{{entidad}}</h1>

		{%if request.user.perfil.cargo == "SIM" or request.user.perfil.tipo == "Laboratorio"%}

		<a href="{%url 'accounts:ListViewEntidades'%}">Regresar</a>

		{%elif request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "PQ" or request.user.perfil.cargo == "CRINIFED"  or  request.user.perfil.cargo == "EIINIFED" or  request.user.perfil.tipo == "Invitado"%}

		<a href="{%url 'accounts:ListViewEntidades' entidad.region.numero%}">Regresar</a>

		{%endif%}
	
	<h3>Información</h3>

	<div class="row justify-content-center">
		<div class="table-responsive">
			<table class="table table-bordered">

				<thead>
					<tr>
						<th rowspan="2">Región</th>
						<th rowspan="2">Partida</th>
						<th colspan="2">Escuelas</th>
					</tr>
					<tr>
						<th>Asignadas</th>
						<th>Registradas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>{{entidad.region}}</td>
					<td>{{entidad.partida}}</td>
						<td>{{entidad.escuelas_asignadas}}</td>
						<td>{{entidad.escuelas_registradas}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h3>Municipios</h3>

	<div class="row justify-content-center">
		<div class="table-responsive text-center">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Zona</th>
						<th>Nombre</th>
						<th>Escuelas registradas</th>
					</tr>
				</thead>
				<tbody>

					{%for MunicipiosPorZona in ListMunicipiosPorZona%}

						{%for municipio in MunicipiosPorZona.municipios%}

					<tr>

							{%if forloop.first%}
						
						<td rowspan=" {{MunicipiosPorZona.municipios|length}}" style="background-color:  {{MunicipiosPorZona.zona.color}};">{{MunicipiosPorZona.zona.nombre}}
						</td>

							{%endif%}

						<td><a href="{%url 'accounts:ListViewEscuelas' municipio.pk%}">{{municipio.nombre}}</a> 
						</td>
						<td>{{municipio.escuelas_registradas}}</td>						
						{%empty%}

							<td>{{MunicipiosPorZona.zona}}</td>
							<td colspan="5">No tiene municipios registrados</td>
						
						{%endfor%}
						
					</tr>

					{%empty%}

					<tr>
						<td colspan="6">No hay zonas registradas</td>
					</tr>

					{%endfor%}

				</tbody>
			</table>
		</div>
	</div>

	{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "PQ"%}
	<div class="espacio2">
		<form action="." method="post" enctype="multipart/form-data">
			<p>Actualización de documentación</p>
			{%csrf_token%}
			{{EdicionEntidadForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar"></a>
		</form>
	</div>
	{%endif%}

	{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Laboratorio"%}

	<div class="table-responsive espacio2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th colspan="5">Descarga masiva de documentos</th>
				</tr>
			</thead>
			<tbody>
				

				{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Administrador"  or request.user.perfil.tipo == "PQ"%}
				<tr>
					<td colspan="5">
						<a href="{%url 'accounts:ExportAvancePorEscuelasCSV' entidad.pk%}">Reporte general</a>
					</td>
				</tr>

				{%endif%}
				{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Ejecutora"%}

				<tr>
					<td>{%if entidad.t7%}<a href="{{entidad.t7.url}}">T7</a>{%else%}No se ha subido el archivo T7{%endif%}</td>
				</tr>
				{%endif%}
				<tr>
					{%if request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "Administrador" or  request.user.perfil.tipo == "Laboratorio"%}
					<td colspan="5"><a href="{% url 'pruebas:ExportPruebasPorEscuelasCSV' entidad.pk%}">Base de formato T7</a>
					</td>
					{%endif%}
				</tr>
			</tbody>
		</table>
	</div>
	{%endif%}

{%endblock content%}