{%extends 'base.html'%}

{%block content%}

	<h1>{{municipio.nombre}}</h1>

	<p><a href="{%url 'accounts:ListViewZonas' entidad.slug%}">Regresar</a></p>
	
	<h3>Información</h3>
	<div class="row justify-content-center">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Región</th>
						<th>Partida</th>
						<th>Entidad</th>
						<th>Zona</th>
						<th>Escuelas registradas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{entidad.region}}</td>
						<td>{{entidad.partida}}</td>
						<td>{{entidad.nombre}}</td>
						<td>{{municipio.zona.nombre}}</td>
						<td>{{municipio.escuelas_registradas}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	{%if request.user.is_superuser%}
	<a href="{%url 'accounts:CreateViewEscuela' municipio.pk%}">Crear escuela</a>
	{%endif%}
	
	<h3>Escuelas</h3>

	<div class="row justify-content-center">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Localidad</th>
						<th>C. C. T</th>
						<th>Nombre</th>
						<th>Nivel educativo</th>
						{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ"  or request.user.perfil.tipo == "PM"%}
						<th>Plantilla</th>
						{%endif%}
						{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ"  or request.user.perfil.tipo == "PM"%}
						<th>Mueble</th>
						{%endif%}

						{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "PM"%}
						<th>Sistema potabilizador</th>
						{%endif%}

					</tr>

				</thead>
				<tbody>
					
					{%for escuela in escuelas%}
					
						<tr>
							<td>{{escuela.perfil.localidad}}</td>
							<td><a href="{%url 'accounts:DetailViewEscuela' escuela.username%}">{{escuela.username}}</a></td>
							<td>{{escuela.get_full_name}}</td>	
							<td>{{escuela.perfil.nivel_educativo}}</td>

							{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ"  or request.user.perfil.tipo == "PM"%}
							<td>{{escuela.perfil.plantilla_escolar}}</td>
							{%endif%}

							{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ"  or request.user.perfil.tipo == "PM"%}
							<td>{{escuela.escuela.mueble}}</td>
							{%endif%}

							{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "PM"%}
							<td>{%if escuela.escuela.sistema_potabilizacion and escuela.escuela_primer_prueba.validacion == "Validado"%}{{escuela.escuela.sistema_potabilizacion}}{%endif%}</td>
							{%endif%}

						</tr>

					{%empty%}
					
						<tr>
							<td colspan="7">No hay escuelas registradas</td>
						</tr>

					{%endfor%}
					
					</tbody>
				</table>
			</div>
		</div>
	</div>

{%endblock content%}