{%extends 'base.html'%}

{%block content%}

	<h1>Municipios de {{entidad.nombre}}</h1>

	<p>Escuelas registradas: {{cantidad_escuelas}}</p>
	<p>Escuelas aceptadas: ¿?</p>
	<div class="row justify-content-md-center">

	<div class="table-responsive">
		<table class="table">
			<thead>
				<th>Nombre</th>
				<th>Escuelas</th>
			</thead>
			<tbody>

	{%for municipio in municipios%}

				<tr>
					<td><a href="{%url 'accounts:ListViewEscuelas' municipio.pk%}">{{municipio.nombre}}</a></td>
					<td>					{{municipio.perfil_set.all|length}}</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="5">Lista de solicitudes vacia</td>
				</tr>	
	{%endfor%}

			</tbody>
		</table>
	</div>



	</div>

{%endblock content%}