{%extends 'base.html'%}

{%block content%}

	<h1>Lista de partidas de la region {{region}}: {{region.nombre}}</h1>

	<p><a href="{%url 'accounts:ListViewRegiones'%}">Regresar</a></p>

	<div class="row justify-content-center" >
		<div class="table-responsive text-center">
			<table class="table">
				<thead>
					<tr>
						<th rowspan="2">Partida</th>
						<th rowspan=2>Entidad</th>
						<th colspan="3">Escuelas</th>
					</tr>
					<tr>
						<th>Asignadas</th>
						<th>Registradas</th>
						<th>Aceptadas</th>
					</tr>
				</thead>
				<tbody>

	{%for EntidadesPorPartida in ListEntidadesPorPartida%}

		{%for entidad in EntidadesPorPartida.entidades%}			
					<tr>	
						
						
						{%if forloop.first%}
						<td rowspan=" {{EntidadesPorPartida.entidades|length }}">
						{{EntidadesPorPartida.partida}}
						</td>
						{%endif%}

							
						<td><a href="{%url 'accounts:ListViewZonas' entidad.slug%}">{{entidad}}</a></td>
		
						<td>{{entidad.escuelas_asignadas}}</td>
						<td>Por definir</td>
						<td>Por definir</td>
						</tr>

		{%empty%}

						<td colspan="3">La partida {{EntidadesPorPartida.partida}} no tiene entidades registradas</td>

		{%endfor%}

					

	{%empty%}

					<tr>
						<td colspan="2">No hay partidas registradas</td>
					</tr>

	{%endfor%}

				</tbody>
			</table>
		</div>
	</div>

{%endblock content%}