{%extends 'base.html'%}

{%block content%}

	{%if request.user.perfil.tipo != "Ejecutora"%}
	<h1>{{municipio.nombre}}</h1>

	<p><a href="{%url 'accounts:ListViewZonas' entidad.slug%}">Regresar</a></p>
	
	<h3>Información</h3>
	<div class="row justify-content-center">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th rowspan="2">Región</th>
						<th rowspan="2">Partida</th>
						<th rowspan="2">Zona</th>
						<th colspan="4">Escuelas</th>
					</tr>
					<tr>
						<th>Registradas</th>
						<th>Aceptadas</th>
						<th>Pendientes</th>
						<th>Rechazadas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{entidad.partida.region}}</td>
						<td>{{entidad.partida.numero}}</td>
						<td>{{municipio.zona.nombre}}</td>
						<td>{{municipio.escuelas_registradas}}</td>
						<td>{{municipio.escuelas_aceptadas}}</td>
						<td>{{municipio.escuelas_pendientes}}</td>
						<td>{{municipio.escuelas_rechazadas}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	{%if request.user.is_superuser%}
	<a href="{%url 'accounts:CreateViewEscuela' municipio.pk%}">Crear escuela</a>
	{%endif%}

	{%endif%}
	<h3>Lista de escuelas</h3>

	<div class="row justify-content-center">
		<div class="table-responsive text-center">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Localidad</th>
						<th>C. C. T.</th>
						<th>Nombre</th>
						<th>Nivel educativo</th>
						{%if request.user.perfil.tipo == "Ejecutora"%}

						<th>Municipio</th>
						<th>Zona</th>
						<th>Entidad</th>
						<th>Trazabilidad</th>
						<th>Status de construción</th>
						{%else%}
						<th>Mueble</th>
						<th>Sistema de potabilización</th>
						<th>Status</th>
						{%endif%}

						<th>Avance de construcción</th>
					</tr>
				</thead>
				<tbody>
				
				{%for perfil in perfiles%}
				
					<tr>
						<td>{{perfil.localidad}}</td>
						<td><a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">{{perfil.user.username}}</a></td>
						<td>{{perfil.user.get_full_name}}</td>	
						<td>{{perfil.nivel_educativo}}</td>
						

						{%if request.user.perfil.tipo == "Ejecutora"%}
						<td>{{perfil.municipio.nombre}}</td>
						<td>{{perfil.municipio.zona.nombre}}</td>
						<td>{{perfil.municipio.zona.entidad.nombre}}</td>
						<td>{%if perfil.user.escuela.asignacion%}<i class="fa fa-check" aria-hidden="true"></i>{%endif%}</td>
						<td>{%if perfil.avance == 100%}Finalizado{%elif perfil.avance < 100%}En proceso o revisión{%endif%}</td>

						{%else%}
						<td>{{perfil.user.escuela.mueble}}</td>
						<td>{%if perfil.user.escuela.sistema_potabilizacion%}{{perfil.user.escuela.sistema_potabilizacion}}{%endif%}</td>
						<td>{%if perfil.status is not None%} {{perfil.status}} {%else%}Pendiente {%endif%}{%if perfil.UpdateStatus is None%}{%endif%}</td>
						{%endif%}

						<td> {%if perfil.avance is not NULL%} {{perfil.avance}}% {%endif%} {%if perfil.UpdateAvance%}{%endif%}</td>
					</tr>

				{%empty%}
				
					<tr>
						<td colspan="4">No hay escuelas registradas</td>
					</tr>

				{%endfor%}
				
				</tbody>
			</table>
		</div>
	</div>

{%endblock content%}