{%extends 'base.html'%}

{%block content%}

	<h1>Escuelas de {{municipio.nombre}}</h1>

	<p>Escuelas registradas: {{perfiles.count}}</p>
	<p>Escuelas aceptadas: {{escuelasAceptadas.count}}</p>
	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>CCT</th>
				<th>Nombre</th>
				<th>Status</th>
				<th>Avance</th>
			</thead>
			<tbody>
			
			{%for perfil in perfiles%}
			
				<tr>
					<td><a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">{{perfil.user.username}}</a></td>
					<td>{{perfil.tipo}} {{perfil.nivel_educativo}} {{perfil.user.get_full_name}}</td>
					<td>{{perfil.status}} {{perfil.UpdateStatus}}</td>
					<td> {%if perfil.avance is not NULL%} {{perfil.avance}}%{%else%}No aplica {%endif%}</td>
				</tr>

			{%empty%}
			
			<tr>
				<td colspan="4">Aún no se han registado escuelas</td>
			</tr>

			{%endfor%}
			
			</tbody>
		</table>
	</div>

{%endblock content%}