{%extends 'base.html'%}

{%block content%}
  
  <div class="row justify-content-center" >
    <div class="col-12 col-sm-12 col-md-12">
        <h1>Regiones</h1>
    </div>

    {%for region in regiones%}

    <div class="col-12 col-sm-4 col-md-4">

      <a href="{{region.get_absolute_url}}"><div class='square-box' style="background-color: {{region.color}}">
        <div class='square-content'>
         <div>
            <span>{{region}}</span>
          </div>
        </div>
      </div>
      </a>
    <h3>{{region.nombre}}</h3>
    </div>

  {%empty%}

    <div class="col-12">
      <h3>Aún no se han registrado regiones</h3>
    </div>

  {%endfor%}

  </div>

{%endblock content%}