{%extends 'base.html'%}

{%block content%}


	<h1>{{entidad}}</h1>

	{%if entidad.EscuelasCount%}{%endif%}

		{%if request.user.perfil.tipo == "SI"%}
		{%else%}
		<a href="{%url 'accounts:ListViewPartidas' region.numero%}">Regresar</a>
		<a href="{%url 'accounts:ListViewAvanceEscuelas' entidad.pk%}">Avance de escuelas</a>

		<a href="{% url 'pruebas:ExportPruebasPorEscuelasCSV' entidad.pk%}">Exportar todas las pruebas por escuela</a>
		
		<br>
		
		<br>
	<h3>Información</h3>

	<div class="row justify-content-center">
		<div class="table-responsive">
			<table class="table table-bordered">

				<thead>
					<tr>
						<th rowspan="2">Región</th>
						<th rowspan="2">Partida</th>
						<th colspan="5">Escuelas</th>
					</tr>
					<tr>
						<th>Asignadas</th>
						<th>Registradas</th>
						<th>Aceptadas</th>
						<th>Pendientes</th>
						<th>Rechazadas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>{{entidad.partida.region}}</td>
					<td>{{entidad.partida.numero}}</td>
						<td>{{entidad.escuelas_asignadas}}</td>
						<td>{{entidad.escuelas_registradas}}</td>
						<td>{{entidad.escuelas_aceptadas}}</td>
						<td>{{entidad.escuelas_pendientes}}</td>
						<td>{{entidad.escuelas_rechazadas}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{%endif%}

	<h3>Lista de municipios</h3>

	<div class="row justify-content-center">
		<div class="table-responsive text-center">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th rowspan="2">Zona</th>
						<th rowspan="2">Municipio</th>
						<th colspan="4">Escuelas</th>
					</tr>
					<tr>
						<th>Registradas</th>
						<th>Aceptadas</th>
						<th>Pendientes</th>
						<th>Rechazadas</th>
					</tr>
				</thead>
				<tbody>

					{%for MunicipiosPorZona in ListMunicipiosPorZona%}

						{%for municipio in MunicipiosPorZona.municipios%}

					<tr>

							{%if forloop.first%}
						
						<td rowspan=" {{MunicipiosPorZona.municipios|length}}">{{MunicipiosPorZona.zona}}
						</td>

							{%endif%}

						<td><a href="{%url 'accounts:ListViewEscuelas' municipio.pk%}">{{municipio.nombre}}</a> 
						</td>
						<td>{{municipio.escuelas_registradas}} {%if municipio.EscuelasCount %}{%endif%}</td>
						<td>{{municipio.escuelas_aceptadas}}</td>
						<td>{{municipio.escuelas_pendientes}}</td>
						<td>{{municipio.escuelas_rechazadas}}</td>						
						{%empty%}

							<td>{{MunicipiosPorZona.zona}}</td>
							<td colspan="5">No tiene municipios registrados</td>
						
						{%endfor%}
						
					</tr>

					{%empty%}

					<tr>
						<td colspan="6">No hay partidas registradas</td>
					</tr>

					{%endfor%}

				</tbody>
			</table>
		</div>
	</div>

{%endblock content%}