{%extends 'base.html'%}

{%block content%}
	
	<div class="row">
		<div class="col-12">
			<h3>Bienvenido(a): {{request.user.get_full_name}}</h3>
			<h3>{{request.user.perfil.tipo}}</h3>
		</div>
	</div>

	<p>Director: {{perfil.director}}</p>
	<p>Cantidad de alumnos: {{perfil.cantidad_de_alumnos}}</p>
	<p>Teléfono: {{perfil.teléfono}}</p>
	<p>Domicilio: {{perfil.domicilio}}</p>
	<p>{{perfil.representante_legal}}</p>
	<p>Teléfono: {{perfil.teléfono}}</p>
	<p>Domicilio: {{perfil.domicilio}}</p>
	
{%endblock content%}