{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">
			<h1>Sistema Bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

		<form action="." method="post" enctype="multipart/form-data">
			<h4>Asignación de componentes y especificaciones</h4>
			{%csrf_token%}
			{{EdicionBebederoForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
		</form>

<p>Entidad: {{entidad.abreviatura}}</p>
<p>Mueble: {{sistemaBebedero.mueble}}</p>
<p>SP: {{sistemaBebedero.sistema_de_potabilizacion}}</p>
<p>Linea ensablambaje: {{sistemaBebedero.linea_ensamblaje}}</p>
<p>{{sistemaBebedero.identificador}}</p>

{%if entidad.abreviatura and sistemaBebedero.mueble and sistemaBebedero.sistema_de_potabilizacion and sistemaBebedero.linea_ensamblaje%}



		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{GeneraNSBebederoForm | bootstrap}}
			<a href=""><input type="submit" value="Generar identificador" name="generate"></a>
		</form>
{%endif%}
{%endblock content%}