{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">
			
		{% for message in messages %}
	
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>

		{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Sistema Bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

			<form action="." method="post" enctype="multipart/form-data">
				<h4>Asignación de componentes y especificaciones</h4>
				{%csrf_token%}
				
				{%if request.user.perfil.tipo == "PQ"%}
				<p>Linea de ensambaje: {{sistemaBebedero.linea_ensamblaje}}</p>

				{{EdicionBebederoForm1 | bootstrap}}
				{%elif request.user.perfil.tipo == "PM"%}
				<p>Sistema de potabilización: {{sistemaBebedero.sistema_potabilizacion}}</p>
				<p>Identificador sistema de potabilización: {{sistemaBebedero.identificador_sp}}</p>
				<p>Etapas del sistema de potabilización: {{sistemaBebedero.etapas_sp}}</p>
				<p>Capacidad de tanque presurizador: {{sistemaBebedero.capacidad_tanque_presurizador}}</p>
				{{EdicionBebederoForm2 | bootstrap}}
				{%endif%}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>

		{%if entidad.abreviatura and sistemaBebedero.mueble and sistemaBebedero.sistema_potabilizacion and sistemaBebedero.linea_ensamblaje%}
		<p>Numero de trazabilidad: {{sistemaBebedero.no_trazabilidad}}</p>

		{%if sistemaBebedero.asignacion is False%}

		<button type="button" class="btn btn-secondary" ><a href="{%url 'bebederos:ExportComprobanteTrazabilidadPDF' sistemaBebedero.pk%}">Descargar guia de trazabilidad</a></button>
		<p></p>

			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{EdicionBebederoForm3 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>

		{%endif%}
		{%endif%}

		</div>
	</div>

{%endblock content%}