{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">
			
		{% for message in messages %}
	
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>

		{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1>Sistema Bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.user.username%}">Regresar</a>
			<h3>Escuela {{escuela.get_full_name}}</h3>

			<form action="." method="post" enctype="multipart/form-data">
				<h4>Asignación de componentes y especificaciones</h4>
				{%csrf_token%}
				
				{%if request.user.perfil.tipo == "PQ"%}
				<p>Línea de ensamblaje: {%if sistemaBebedero.linea_ensamblaje%}{{sistemaBebedero.linea_ensamblaje}}{%else%}por definir{%endif%}</p>

				{{EdicionBebederoForm1 | bootstrap}}
				{%elif request.user.perfil.tipo == "PM"%}
				<p>Sistema potabilizador: {{sistemaBebedero.sistema_potabilizacion}}</p>
				<p>Identificador del sistema potabilizador (No. de serie): {{sistemaBebedero.no_serie_sp}}</p>
				<p>Etapas del sistema  potabilizador: {{sistemaBebedero.etapas_sp}}</p>
				<p>Capacidad de tanque presurizador: {{sistemaBebedero.capacidad_tanque_presurizador}}</p>
				{{EdicionBebederoForm2 | bootstrap}}
				{%endif%}
				{%if request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "PQ"%}
				<a href=""><input type="submit" value="Guardar cambios"></a>
				{%endif%}
			</form>

		{%if entidad.abreviatura and sistemaBebedero.mueble and sistemaBebedero.sistema_potabilizacion and sistemaBebedero.proveedor%}
		<p>Numero de trazabilidad: {{sistemaBebedero.no_trazabilidad}}</p>

		{%if sistemaBebedero.asignacion is False%}

		<div class="row">
			<div class="col-md-4 col-sm-6 col-12">
		<a class="btn btn-primary" href="{%url 'bebederos:ExportComprobanteTrazabilidadPDF' sistemaBebedero.pk%}" role="button">Descargar guía de trazabilidad</a>
		</div>
		</div>
			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{EdicionBebederoForm3 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>

		{%endif%}
		{%endif%}

		</div>
	</div>

{%endblock content%}