{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}
<h1>Mantenimiento</h1>

	<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

	<form action="." method="post" enctype="multipart/form-data">
		<h4>Registro</h4>	
		{%csrf_token%}
		{{NuevoMantenimientoForm | bootstrap}}
		<a href=""><input type="submit" value="Registrar"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>
	</form>

<h3>Lista de mantenimientos</h3>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<th>Mes y año</th>
			<th>Carnet</th>
			<th>Creación</th>
		</thead>
		<tbody>
		
		{% for mantenimiento in mantenimientos%}

			<tr>
				<td>{{mantenimiento.mes}} {{mantenimiento.año}}</td>
				<td><a href="{{mantenimiento.carnet.url}}">Ver</a></td>
				<td>{{mantenimiento.creacion}}</td>
			</tr>

		{%empty%}

			<tr>
				<td colspan="6">No hay mantenimientos pendientes</td>
			</tr>

		{%endfor%}

		</tbody>
	</table>
</div>

{%endblock content%}