{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">

		{% for message in messages %}
	
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>

		{% endfor %}
		
			<h1>Mantenimientos</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.user.username%}">Regresar</a>
			<h3>Escuela {{escuela.get_full_name}}</h3>
		</div>
	</div>

	{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Escuela" or request.user.perfil.tipo == "Administrador"%}
		{%if mantenimientos.count < 24%}

	<div class="row espacio2">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h5>Registro</h5>	
				{%csrf_token%}
				{{NuevoMantenimientoForm | bootstrap}}
				<a href=""><input type="submit" value="Registrar"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
	{%endif%}

	<div class="row espacio2">
		<div class="col-12">
			<h4>Lista</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<th>Mes y año</th>
						<th>Volumen</th>
						<th>Carnet</th>
						<th>Tipo</th>
						<th>Descripción</th>
						<th>Fecha y hora de registro</th>
					</thead>
					<tbody>
					
					{% for mantenimiento in mantenimientos%}

						<tr>
							<td>{{mantenimiento.mes}} {{mantenimiento.año}}</td>
							<td>{{mantenimiento.volumen}}</td>
							<td><a href="{{mantenimiento.carnet.url}}">Descargar</a></td>
							<td>{{mantenimiento.tipo}}</td>
							<td> {%if mantenimiento.descripcion%}{{mantenimiento.descripcion}}{%endif%}</td>
							<td>{{mantenimiento.creacion}}</td>
						</tr>

					{%empty%}

						<tr>
							<td colspan="6">Sin registro</td>
						</tr>

					{%endfor%}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	
{%endblock content%}