{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<div class="row">
		<div class="col-12">
			
			<h1>Visita al sitio</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>
	{%if visita%}
	
	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>

	<div class="row justify-content-center text-center">
		<div class="col-md-5">
			<a href="{{visita.acta_visita.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Constancia de visita</a>
		</div>
		<div class="col-md-5">
			<a href="{{visita.copia_INE.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Copia de INE</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<h4>Actualización de documentación</h4>
			<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{EdicionVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
		</form>
		</div>
	</div>

	{%else%}

	<div class="row">
		<div class="col-12">
			<h4>Registro de documentación</h4>
			<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{NuevaVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

	{%endif%}

{%endblock content%}