{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<h1>Visita al sitio</h1>
	
	<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

	{%if visita%}

		<h4>Consulta de documentación</h4>

		<a href="{{visita.acta_visita.url}}" class="btn btn-primary" role="button" aria-pressed="true">Constancia de visita</a>
		<a href="{{visita.copia_INE.url}}" class="btn btn-primary" role="button" aria-pressed="true">Copia de INE</a>

		<h4>Actualización de documentación</h4>

		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{EdicionVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>
		</form>

	{%else%}

		<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>

		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{NuevaVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
		</form>

	{%endif%}

{%endblock content%}