{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

<h1>Entrega de Bebedero</h1>
	{%if entrega%}

<h4>Consulta de documentación de la escuela {{escuela.get_full_name}}</h4>

<a href="{{visita.constancia_visita.url}}" class="btn btn-primary" role="button" aria-pressed="true">Ver visita a sitio</a>
<a href="{{visita.hoja_cotizacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Hoja cotización</a>
<a href="{{visita.plantilla_fotografica.url}}" class="btn btn-primary" role="button" aria-pressed="true">Plantilla fotográfica</a>

<a href="{{visita.membrete_mail.url}}" class="btn btn-primary" role="button" aria-pressed="true">membrete de e-mail</a>
<a href="{{visita.agenda.url}}" class="btn btn-primary" role="button" aria-pressed="true">Agenda</a>


	<form action="." method="post" enctype="multipart/form-data">
		<h4>Actualización de documentación</h4>
		{%csrf_token%}
		{{EdicionEntregaForm | bootstrap}}
		<a href=""><input type="submit" value="Guardar cambios"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%else%}
	<form action="." method="post" enctype="multipart/form-data">
		<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>
		{%csrf_token%}
		{{NuevaEntregaForm | bootstrap}}
		<a href=""><input type="submit" value="Crear registro"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%endif%}

{%endblock content%}