{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<h1>Visita de acuerdos</h1>

		<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

	{%if visita%}

		<h4>Consulta de documentación</h4>

		<a href="{{visita.convenio_concertacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Convenio de concertación de aplicación de recurso</a>

		{%if visita.cedula_identificacion%}
		<a href="{{visita.cedula_identificacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Cedula de Identificación</a>
		{%else%}
		falta cedula
		{%endif%}
		<a href="{{visita.acta_acuerdos.url}}" class="btn btn-primary" role="button" aria-pressed="true">Acta de acuerdos y ubicación del módulo</a>

		{%if visita.constancia_integracion_comite%}

		<a href="{{visita.constancia_integracion_comite.url}}" class="btn btn-primary" role="button" aria-pressed="true">Constancia de Integración de comite</a>
		{%else%}
		falta constancia
		{%endif%}
		<h4>Actualización de documentación</h4>

		<form action="." method="post" enctype="multipart/form-data">	
			{%csrf_token%}
			{{EdicionVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>
		</form>

	{%else%}

		<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>

		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{NuevaVisitaForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
		</form>

	{%endif%}

{%endblock content%}