{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<div class="row">
		<div class="col-12">
			<h1>Visita de acuerdos</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.user.username%}">Regresar</a>
			<h3>Escuela  {{escuela.get_full_name}}</h3>
		</div>
	</div>

	{%if visita%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>

	<div class="row justify-content-center text-center">

	{%if visita.convenio_concertacion%}

		<div class="col-md-5">

			<a href="{{visita.convenio_concertacion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Convenio de concertación</a>

		</div>

	{%endif%}

	{%if visita.cedula_identificacion%}

		<div class="col-md-5">

			<a href="{{visita.cedula_identificacion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Cédula de identificación</a>

		</div>

	{%endif%}

	{%if visita.acta_acuerdos%}
		<div class="col-md-5">

			<a href="{{visita.acta_acuerdos.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Acta de acuerdos</a>
	
		</div>
	{%endif%}

	{%if visita.croquis_modulo%}
		<div class="col-md-5">

			<a href="{{visita.croquis_modulo.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Croquis de modulo</a>
	
		</div>
	{%endif%}	

	{%if visita.constancia_integracion_comite%}
	
		<div class="col-md-5">
	
			<a href="{{visita.constancia_integracion_comite.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Constancia de integración de comité</a>

		</div>
	
	{%endif%}

	{%if visita.plano_conjunto%}
	
		<div class="col-md-5">
	
			<a href="{{visita.plano_conjunto.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Plano de conjunto</a>

		</div>
	
	{%endif%}

	{%if visita.distribucion_planta%}
	
		<div class="col-md-5">
	
			<a href="{{visita.distribucion_planta.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Distribución en planta</a>

		</div>
	
	{%endif%}

	{%if visita.memoria_calculo%}
	
		<div class="col-md-5">
	
			<a href="{{visita.memoria_calculo.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Memoria de cálculo</a>

		</div>
	
	{%endif%}

	{%if visita.plano_instalacion_electrica%}
	
		<div class="col-md-5">
	
			<a href="{{visita.plano_instalacion_electrica.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Plano de instalación eléctrica</a>

		</div>
	
	{%endif%}

	{%if visita.plano_instalacion_hidraulica%}
	
		<div class="col-md-5">
	
			<a href="{{visita.plano_instalacion_hidraulica.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Plano de instalación hidráulica</a>

		</div>
	
	{%endif%}

	{%if visita.plano_instalacion_sanitaria%}
	
		<div class="col-md-5">
	
			<a href="{{visita.plano_instalacion_sanitaria.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Plano de instalación sanitaria</a>

		</div>
	
	{%endif%}

	{%if visita.estimacion%}
	
		<div class="col-md-5">
	
			<a href="{{visita.estimacion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Estimación</a>

		</div>
	
	{%endif%}	
	</div>

	<div class="row">
		<div class="col-12">
			<h4>Actualizacion de documentación</h4>
			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{EdicionVisitaForm | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>

	{%else%}

		{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "INIFED"%}
	<div class="row">
		<div class="col-12">
			<h4>Registro de documentación</h4>
			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{NuevaVisitaForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

		{%endif%}
	{%endif%}

{%endblock content%}