{%load static%}
{% load año_tag %}

<html>
	<head>
		<title>TEASIB</title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">

		<link rel="stylesheet" type="text/css" href="{%static 'css/font-awesome.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
	</head>

	<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" style="background-color: #44B036; border-bottom: solid 1px;">

{%if request.user.is_authenticated%}

  <button style="border-color: white;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {%endif%}
  <a class="navbar-brand" href="#" style="color: white;">TEASIB 1.8.5.1 Convocatoria {%anio_convocatoria%}</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    </ul>
    {%if request.user.is_authenticated%}
    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'accounts:ViewProfile'%}"><i class="fa fa-home" aria-hidden="true"></i></a>
      </li>

      {%if request.user.perfil.tipo == "Escuela"%}

      <li class="nav-item">
        <a class="nav-link" href="{%url 'accounts:DetailViewEscuela' request.user.username%}">Expediente</a>
      </li>

      {%elif request.user.perfil.tipo == "Laboratorio"%}

      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Escuelas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{%url 'accounts:ListViewEntidades'%}">Por entidades</a>
                <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
              </div>
            </li>

      {%elif request.user.perfil.cargo == "SIM"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewZonas' request.user.sim.slug%}">Por municipios</a>
          <a class="dropdown-item" href="{%url 'accounts:ListViewAvanceEscuelas' request.user.sim.slug%}">Reporte general</a>          
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>      

      {%elif request.user.perfil.cargo == "SI"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewZonas' request.user.superintendente.slug%}">Por municipios</a>
          <a class="dropdown-item" href="{%url 'accounts:ListViewAvanceEscuelas' request.user.superintendente.slug%}">Reporte general</a>          
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%elif request.user.perfil.cargo == "RO"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewZonas' request.user.perfil.residente_obra_ejecutora.slug%}">Por municipios</a>
          <a class="dropdown-item" href="{%url 'accounts:ListViewAvanceEscuelas' request.user.perfil.residente_obra_ejecutora.slug%}">Reporte general</a>          
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%elif request.user.perfil.cargo == "CRINIFED"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewEntidades' request.user.coordinador_regional_inifed.numero%}">Entidades</a>
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%elif request.user.perfil.cargo == "EIINIFED"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewEntidades' request.user.enlace_institucional_inifed.numero%}">Entidades</a>
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>      

      {%elif request.user.perfil.cargo == "CEINIFED"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewZonas' request.user.coordinador_estatal_inifed.slug%}">Por municipios</a>
          <a class="dropdown-item" href="{%url 'accounts:ListViewAvanceEscuelas' request.user.coordinador_estatal_inifed.slug%}">Reporte general</a>          
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%elif request.user.perfil.cargo == "RTINIFED"%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewZonas' request.user.perfil.residente_tecnico_inifed.slug%}">Por municipios</a>
          <a class="dropdown-item" href="{%url 'accounts:ListViewAvanceEscuelas' request.user.perfil.residente_tecnico_inifed.slug%}">Reporte general</a>          
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%elif request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "IMTA" or  request.user.perfil.tipo == "Invitado"%}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escuelas</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'accounts:ListViewRegiones'%}">Por regiones</a>
          <a class="dropdown-item" href="{%url 'accounts:SearchViewEscuelas'%}">Buscar</a>
        </div>
      </li>

      {%endif%}

      {%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "PM" or request.user.perfil.tipo == "Ejecutora" or  request.user.perfil.tipo == "INIFED" or  request.user.perfil.tipo == "Invitado"%}

      <li class="nav-item">
        <a class="nav-link" href="{%url 'incidencias:ListViewIncidencias'%}">Incidencias</a>
      </li>

      {%endif%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'plantillas:ListViewPlantillas'%}">Plantillas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'accounts:logout'%}">Cerrar sesión</a>
      </li>
    </ul>
     {%endif%}

  </div>
</nav>
  
	<div class="container content">

      {%block content%}
      {%endblock content%}
	
	</div>

        
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
        
	</body>
</html>