{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}
	
	<div class="row">
		<div class="col-12">

		{% for message in messages %}
	
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>

		{% endfor %}

			<h1>Bitácora de incidencias y notas</h1>

			{% if request.get_full_path != "/incidencias/" %}
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{escuela.get_full_name}}</h3>
			{%endif%}
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			
			{% if request.get_full_path != "/incidencias/" %}

			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro</h4>	
				{%csrf_token%}
				{{NuevaIncidenciaForm | bootstrap}}
				<a href=""><input type="submit" value="Registrar"></a>		
			</form>

			{%endif%}

			<h4>Actuales</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Folio</th>

							{% if request.get_full_path == "/incidencias/" %}
			
							<th>Municipio</th>
							<th>Localidad</th>
							<th>C. C. T.</th>
							<th>Nombre</th>
							<th>Nivel educativo</th>

							{%endif%}

							<th>Etapa</th>
							<th>Descripción</th>
							<th>Status</th>
							<th>Hora y fecha de registro</th>
							<th>Prioridad</th>
							<th>Opciones</th>
						</tr>	
					</thead>
					<tbody>
					
					{% for incidencia in incidenciasActuales%}

						<tr>
							<td>{{incidencia.pk}}</td>

							{% if request.get_full_path == "/incidencias/" %}
			
							<td>{{incidencia.escuela.perfil.municipio.nombre}}</td>
							<td>{{incidencia.escuela.perfil.localidad}}</td>
							<td><a href="{%url 'accounts:DetailViewEscuela' incidencia.escuela.username%}">{{incidencia.escuela.username}}</a></td>
							<td>{{incidencia.escuela.get_full_name}}</td>
							<td>{{incidencia.escuela.perfil.nivel_educativo}}</td>

						{%endif%}

							<td>{{incidencia.fase}}</td>
							<td>{{incidencia.descripcion}}</td>
							<td>{{incidencia.status}}</td>
							<td>{{incidencia.creacion}}</td>
							<td {%if incidencia.prioridad == "Baja"%}class="thumbnail-prueba-en-espera" {%elif incidencia.prioridad == "Media"%}
							class="thumbnail-advertencia" {%elif incidencia.prioridad == "Alta"%} class="thumbnail-prueba-no-aprobado" {%else%}class="thumbnail-prueba-aprobado"{%endif%}> {{incidencia.prioridad}}</td>
							<td><a href="{%url 'incidencias:UpdateViewIncidencia' incidencia.pk%}">Actualizar</a></td>
						</tr>

					{%empty%}

						<tr>
							<td colspan="7">No hay incidencias pendientes</td>
						</tr>

					{%endfor%}

					</tbody>
				</table>
			</div>

			<h4>Historial</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<th>Folio</th>

							{% if request.get_full_path == "/incidencias/" %}
			
							<th>Municipio</th>
							<th>Localidad</th>
							<th>C. C. T.</th>
							<th>Nombre</th>
							<th>Nivel educativo</th>

							{%endif%}
							
						<th>Etapa</th>
						<th>Descripción</th>
						<th>Solución</th>
						<th>Hora y fecha de registro</th>
					</thead>
					<tbody>
					
					{% for incidencia in historialIncidencias%}

						<tr>
							<td>{{incidencia.pk}}

							{% if request.get_full_path == "/incidencias/" %}
			
							<td>{{incidencia.escuela.perfil.municipio.nombre}}</td>
							<td>{{incidencia.escuela.perfil.localidad}}</td>
							<td><a href="{%url 'accounts:DetailViewEscuela' incidencia.escuela.perfil.pk%}">{{incidencia.escuela.username}}</a></td>
							<td>{{incidencia.escuela.get_full_name}}</td>
							<td>{{incidencia.escuela.perfil.nivel_educativo}}</td>

						{%endif%}

							</td>
							<td>{{incidencia.fase}}</td>
							<td>{{incidencia.descripcion}}</td>
							<td>{{incidencia.solucion}}</td>
							<td>{{incidencia.creacion}}</td>
						</tr>

					{%empty%}

						<tr>
							<td colspan="6">Sin registro</td>
						</tr>

					{%endfor%}

					</tbody>
				</table>
			</div>
		</div>
	</div>
{%endblock content%}