{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">	
			<h1>Segunda prueba de calidad de agua</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if prueba%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>

	<div class="row justify-content-center text-center">
		<div class="col-md-5">

	{%if prueba.acta_segunda_prueba%}

			<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Acta de segunda prueba</a>

	{%else%}
		
		<p>Pendiente a subir</p>
	
	{%endif%}

		</div>
		<div class="col-md-5">

	{%if prueba.reporte_toma_agua%}

			<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Reporte de toma de agua</a>

	{%else%}
		
		<p>Pendiente a subir</p>
	
	{%endif%}

		</div>
		<div class="col-md-5">

	{%if prueba.dictamen_validacion%}

			<a href="{{prueba.dictamen_validacion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Dictamen de Validación</a>

	{%else%}

			<p>Pendiente a subir</p>

	{%endif%}
		</div>

		<div class="col-md-5">

	{%if prueba.constancia_recepcion.url%}

			<a href="{{prueba.constancia_recepcion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Constancia de recepción</a>

	{%else%}

			<p>Pendiente a subir</p>
	
	{%endif%}

		</div>

		<div class="col-md-5">
	
	{%if prueba.video%}

			<a href="{{prueba.video.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Video</a>

	{%else%}

			<p>Pendiente a subir</p>

	{%endif%}

		</div>
		<div class="col-md-5">
	
	{%if prueba.resultados%}

			<a href="{{prueba.resultados.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados</a>

	{%else%}

			<p>Pendiente a subir</p>

	{%endif%}

		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Realice la aprobación</h4>
				{%csrf_token%}
				{{EdicionPruebaForm | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
				<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>
			</form>
		</div>
	</div>

	{%else%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>
				{%csrf_token%}
				{{NuevaPruebaForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

	{%endif%}

{%endblock content%}