{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<h1>Segunda prueba de calidad de agua</h1>

	<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

	{%if prueba%}

		<h4>Consulta de documentación</h4>

		{%if prueba.acta_segunda_prueba%}

		<a href="{{prueba.acta_segunda_prueba.url}}" class="btn btn-primary" role="button" aria-pressed="true">Aacta de segunda prueba</a>

		{%else%}
		<p>No hay acta</p>
		{%endif%}
		{%if prueba.reporte_toma_agua%}
		<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary" role="button" aria-pressed="true">Reporte de toma de agua</a>

		{%else%}
		<p>falta reporte de toma de agua</p>
		{%endif%}

		{%if prueba.dictamen_validacion%}
		<a href="{{prueba.dictamen_validacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Dictamen de validación</a>

		{%else%}

		<p>falta dictamen de valicación</p>

		{%endif%}

		<a href="{{prueba.constancia_recepcion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Constancia de recepción</a>

		<a href="{{prueba.video.url}}" class="btn btn-primary" role="button" aria-pressed="true">Video</a>

		<a href="{{prueba.resultados.url}}" class="btn btn-primary" role="button" aria-pressed="true">Resultados</a>

		<form action="." method="post" enctype="multipart/form-data">
			<h4>Realice la aprobación</h4>
			{%csrf_token%}
			{{EdicionPruebaForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>
		</form>

	{%else%}
	
		<form action="." method="post" enctype="multipart/form-data">
			<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>
			{%csrf_token%}
			{{NuevaPruebaForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
		</form>

	{%endif%}

{%endblock content%}