{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">	
			<h1>Primera prueba de calidad de agua</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if prueba%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>
	
	<div class="row justify-content-center text-center">
		<div class="col-md-5">

		{%if prueba.acta_primer_prueba%}

			<a href="{{prueba.acta_primer_prueba.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Acta de primer prueba de agua</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.reporte_toma_agua%}

			<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Reporte de toma de agua</a>

		{%endif%}

		</div>

		<div class="col-md-5">
	
		{%if prueba.video%}

			<a href="{{prueba.video.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Video</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.resultados_laboratorio%}

			<a href="{{prueba.resultados_laboratorio.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados del Laboratorio</a>

		{%endif%}
		
		</div>
		<div class="col-md-5">

		{%if prueba.resultados_inifed%}

			<a href="{{prueba.resultados_inifed.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados para INIFED</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.sugerencias_sp%}

			<a href="{{prueba.sugerencias_sp.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Sugerencia de sistema potabilizador</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.dictamen_sistema_potabilizador%}

			<a href="{{prueba.dictamen_sistema_potabilizador.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Dictamen de sistema potabilizador</a>

		{%endif%}

		</div>
	</div>


	

		{%if prueba.reporte_toma_agua and not prueba.resultados_laboratorio%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de analísis (LAB)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm1 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}

		{%if prueba.resultados_laboratorio and not prueba.resultados_inifed%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de sugerencia de Sistema potabilizador (ECA)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm2 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}

		{%if prueba.resultados_inifed and prueba.aprobacion == "En espera"%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Confirmación de Sistema potabilizador (INIFED)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm3 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
	{%else%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de la toma de agua (SI)</h4>
				{%csrf_token%}
				{{NuevaPruebaForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>
	
	{%endif%}

{%endblock content%}