{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

<style type="text/css">

</style>
{%if prueba.DeleteSB%}{{prueba.DeleteSB}}{%endif%}
	<div class="row">
		<div class="col-12">
			
			<h1>Primer prueba de calidad de agua</h1>
			<a href="{%url 'accounts:DetailViewEscuela' escuela.username%}">Regresar</a>
			<h3>Escuela {{escuela.get_full_name}}</h3>
		</div>
	</div>

	{%if prueba%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>
	
	<div class="row justify-content-center text-center">
		<div class="col-md-5">

		{%if prueba.reporte_toma_agua%}

			<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Reporte de toma de agua</a>

		{%endif%}

		</div>

		<div class="col-md-5">
	
		{%if prueba.foto_toma_agua_1%}

			<a href="{{prueba.foto_toma_agua_1.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Fotografía 1</a>

		{%endif%}
		</div>
		
		<div class="col-md-5">
		
		{%if prueba.foto_toma_agua_2%}

			<a href="{{prueba.foto_toma_agua_2.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Fotografía 2</a>

		{%endif%}		

		</div>

		<div class="col-md-5">
		
		{%if prueba.video_toma_agua%}

			<a href="{{prueba.video_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Video</a>

		{%endif%}		

		</div>
		{%if request.user.perfil.tipo == "PQ" or request.user.perfil.tipo == "Laboratorio"%}
		<div class="col-md-5">

		{%if prueba.registro_campo%}

			<a href="{{prueba.registro_campo.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Registro de campo</a>

		{%endif%}
		
		</div>
		
		
		<div class="col-md-5">

		{%if prueba.cadena_custodia%}

			<a href="{{prueba.cadena_custodia.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Cadena de custodia</a>

		{%endif%}
		
		</div>

	{%endif%}

		<div class="col-md-5">

		{%if prueba.resultados_laboratorio%}

			<a href="{{prueba.resultados_laboratorio.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados de laboratorio</a>

		{%endif%}
		
		</div>
		<div class="col-md-5">

		{%if prueba.propuesta_sistema_potabilizador%}

			<a href="{{prueba.propuesta_sistema_potabilizador.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Propuesta de sistema potabilizador</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.dictamen_sistema_potabilizador%}

			<a href="{{prueba.dictamen_sistema_potabilizador.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Dictamen de sistema potabilizador</a>

		{%endif%}

		</div>
	</div>

		{%if request.user.perfil.tipo == "Laboratorio"%}
		{%if prueba.reporte_toma_agua and not prueba.resultados_laboratorio%}
	
	<div class="row espacio2">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Análisis de laboratorio</h4>
				<h5>Registro de documentación</h5>
				{%csrf_token%}
				{{EdicionPruebaForm1 | bootstrap}}

				<div class="row">
					<div class="col-md-12">
						<h5>Registro de parámetros</h5>
						{{EdicionPruebaForm2 | bootstrap}}
					</div>
					<div class="col-12 col-sm-12 col-md-1">
						<h5>F</h5>
						{{EdicionPruebaForm9 | bootstrap}}
						<h5>B</h5>
						{{EdicionPruebaForm10 | bootstrap}}	
					</div>
					<div class="col-12 col-sm-12 col-md-3">
						<h5>Físicos y organolépticos</h5>
						{{EdicionPruebaForm3 | bootstrap}}
						<h5>Bacteriológicos</h5>
						{{EdicionPruebaForm4 | bootstrap}}						
					</div>
					<div class="col-12 col-sm-12 col-md-1">
						<h5>M</h5>
						{{EdicionPruebaForm11 | bootstrap}}
					</div>
					<div class="col-12 col-sm-12 col-md-3">
						<h5>Metales</h5>
						{{EdicionPruebaForm5 | bootstrap}}
					</div>
					<div class="col-12 col-sm-12 col-md-1">
						<h5>I</h5>
						{{EdicionPruebaForm12 | bootstrap}}
					</div>
					<div class="col-12 col-sm-12 col-md-3">
						<h5>Iones y comps. inorgánicos</h5>
						{{EdicionPruebaForm6 | bootstrap}}
					</div>
				</div>

				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "PQ"%}

		{%if prueba.no_registro and prueba.aprobacion == "En espera"%}
	

	<div class="row espacio2">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Consulta y confirmación de resultados de análisis</h4>
				<h5>Documentación</h5>
				{%csrf_token%}
				{{EdicionPruebaForm1 | bootstrap}}

				<div class="row">
					<div class="col-md-12">
						<h5> Parámetros</h5>
						{{EdicionPruebaForm2 | bootstrap}}
					</div>
					<div class="col-12 col-sm-6 col-md-1">
						<h5>F</h5>
						{{EdicionPruebaForm9 | bootstrap}}
						<h5>B</h5>
						{{EdicionPruebaForm10 | bootstrap}}
						<h5>M</h5>
						{{EdicionPruebaForm11 | bootstrap}}
						<h5>I</h5>
						{{EdicionPruebaForm12 | bootstrap}}
					</div>
					<div class="col-12 col-sm-6 col-md-4">
						<h5>Fisicos y organolépticos</h5>
						{{EdicionPruebaForm3 | bootstrap}}
						<h5>Bacteriológicos</h5>
						{{EdicionPruebaForm4 | bootstrap}}
						<h5>Metales</h5>
						{{EdicionPruebaForm5 | bootstrap}}
						<h5>Iones y compuestos inorgánicos</h5>
						{{EdicionPruebaForm6 | bootstrap}}
					</div>
					<div class="hidden-xs-down col-sm-4 col-md-3" style="font-size: 25px;">
							<div>
								<h5>LMP</h5>
							</div>
						<div style="padding-top: 30px;" >
						{%if prueba.color_verdadero is not null%}
						20
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.turbiedad  is not null%}
						5
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.ph  is not null%}
						6.5-8.5
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.conductividad_electrica  is not null%}
						No aplica
						{%endif%}
						</div>
						<div class="padding-top-parametro-3">
						{%if prueba.coliformes_fecales  is not null%}
						Ausencia (0)
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.coliformes_totales is not null%}
						Ausencia (0)
						{%endif%}
						</div>
						<div class="padding-top-parametro-3">
						{%if prueba.arsenico  is not null%}
						0.025
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.hierro is not null%}
						0.30
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.manganeso is not null%}
						0.15
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.plomo is not null%}
						0.01
						{%endif%}
						</div>
						<div class="padding-top-parametro-3">
						{%if prueba.floururos is not null%}
						1.50
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.nitratos is not null%}
						10
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.sulfatos is not null%}
						400
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.dureza_total is not null%}
						500
						{%endif%}
						</div>
						<div class="padding-top-parametro-2">
						{%if prueba.solidos_disueltos is not null%}
						1000
						{%endif%}
						</div>
					</div>
					<div class="hidden-xs-down col-sm-2 col-md-3">
						<div>
							<h5>P < LMP</h5>
						</div>
						<div style="padding-top: 30px;">
						{%if prueba.color_verdadero <= 20%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.color_verdadero > 20%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.turbiedad <= 5%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.turbiedad > 5%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.ph <= 8.5 and prueba.ph >= 6.5%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.ph > 8.5 or prueba.ph < 6.5%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-4">
						</div>
						<div class="padding-top-icon-3">
						{%if prueba.coliformes_fecales == 0%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.coliformes_fecales > 0%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.coliformes_totales == 0%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.coliformes_totales > 0%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-3">
						{%if prueba.arsenico <= 0.025%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.arsenico > 0.025%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.hierro <= 0.3%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.hierro > 0.3%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.manganeso <= 0.15%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.manganeso > 0.15%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.plomo <= 0.01%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.plomo > 0.01%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-3">
						{%if prueba.floururos <= 1.5%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.floururos > 1.5%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.nitratos <= 10%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.nitratos > 10%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.sulfatos <= 400%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.sulfatos > 400%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.dureza_total <= 500%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.dureza_total > 500%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
						<div class="padding-top-icon-2">
						{%if prueba.solidos_disueltos <= 1000%}
						<i class="fa fa-2x fa-check" aria-hidden="true"></i>
						{%elif prueba.solidos_disueltos > 1000%}
						<i class="fa fa-2x fa-times" aria-hidden="true"></i>
						{%endif%}
						</div>
					</div>
				</div>

				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
			<h4>Sugerencia de sistema potabilizador</h4>
				{%csrf_token%}			
				{{EdicionPruebaForm7 | bootstrap}}

		<div class="offset-md-4 col-6">
			  <!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Sugerir sistema potabilizador</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title">Recomendación de sistema potabilizador</h4>
						</div>
						<div class="modal-body">
							<h3>{{sistemaPotabilizadorCalculado}}</h3>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

				{{EdicionBebederoForm | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
		{%endif%}

		{%if request.user.perfil.tipo == "IMTA"%}
		{%if prueba.propuesta_sistema_potabilizador and prueba.aprobacion == "En espera"%}
		

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Confirmación de Sistema potabilizador</h4>
				{%csrf_token%}
				{{EdicionPruebaForm8 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
		{%endif%}

	{%else%}
	
		{%if request.user.perfil.tipo == "Ejecutora"%}
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de la toma de agua</h4>
				{%csrf_token%}
				{{NuevaPruebaForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
			{%endif%}
	</div>
	
	{%endif%}

{%endblock content%}