{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

	<div class="row">
		<div class="col-12">	
			<h1>Segunda prueba de calidad de agua</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if prueba%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>
	
	<div class="row justify-content-center text-center">
		
		<div class="col-md-5">

		{%if prueba.reporte_toma_agua%}

			<a href="{{prueba.reporte_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Reporte de toma de agua</a>

		{%endif%}

		</div>

		<div class="col-md-5">

		{%if prueba.foto_toma_agua%}

			<a href="{{prueba.foto_toma_agua.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Evidencia fotográfica de toma de agua</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.resultados_laboratorio%}

			<a href="{{prueba.resultados_laboratorio.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados del Laboratorio</a>

		{%endif%}
		
		</div>
		<div class="col-md-5">
	
		{%if prueba.foto_recepcion%}

			<a href="{{prueba.foto_recepcion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Evidencia fotográfica de repepción</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.foto%}

			<a href="{{prueba.foto.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Evidencia fotografica de recepción</a>

		{%endif%}
		
		</div>
		<div class="col-md-5">

		{%if prueba.resultados_inifed%}

			<a href="{{prueba.resultados_inifed.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Resultados para INIFED</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.aprobacion_interna%}

			<a href="{{prueba.aprobacion_interna.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Aprobación interna</a>

		{%endif%}

		</div>
		<div class="col-md-5">

		{%if prueba.dictamen_validacion%}

			<a href="{{prueba.dictamen_validacion.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Dictamen de validación</a>

		{%endif%}

		</div>
	</div>


			{%if prueba.aprobacion == "En espera"%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Editar de documentación de la toma de agua (SI)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm0 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}

		{%if prueba.reporte_toma_agua and not prueba.resultados_laboratorio%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de analísis (LAB)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm1 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}

		{%if prueba.resultados_laboratorio and not prueba.resultados_inifed%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de aprobación del sistema potabilizador utilizado (ECA)</h4>
				{%csrf_token%}
				<div class="row">
					<div class="col-md-3">
						<h5>Fisicos y organoelectricos</h5>
						{{EdicionPruebaForm4 | bootstrap}}
						</div>
					<div class="col-md-3">
						<h5>Bacteriologicos</h5>
						{{EdicionPruebaForm5 | bootstrap}}
					</div>
					<div class="col-md-3">
						<h5>Arsenico y metales</h5>
						{{EdicionPruebaForm6 | bootstrap}}
					</div>
					<div class="col-md-3">
						<h5>Iones y compuestos inorganicos</h5>
						{{EdicionPruebaForm7 | bootstrap}}
					</div>
					<div class="col-12">
						{{EdicionPruebaForm2 | bootstrap}}
					</div>
				</div>
				<a href=""><input type="submit" value="Guardar cambios"></a>
		</div>
	</div>
	
		{%endif%}

		{%if prueba.aprobacion_interna and prueba.aprobacion == "En espera"%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Confirmación de Sistema potabilizador (INIFED)</h4>
				{%csrf_token%}
				{{EdicionPruebaForm3 | bootstrap}}
				<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>
	
		{%endif%}
	{%else%}
	
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación de la toma de agua (SI)</h4>
				{%csrf_token%}
				{{NuevaPruebaForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>
	
	{%endif%}

{%endblock content%}