{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}
	
	<h1>Instalación de Bebedero</h1>
	{%if instalacion%}

<h4>Consulta de documentación de la escuela {{escuela.get_full_name}}</h4>

<a href="{{instalacion.reporte.url}}" class="btn btn-primary" role="button" aria-pressed="true">Reporte de instalacion</a>

<a href="{{instalacion.plantilla_fotografica.url}}" class="btn btn-primary" role="button" aria-pressed="true">Plantilla fotográfica</a>

<a href="{{instalacion.recepcion_mueble_bebedero.url}}" class="btn btn-primary" role="button" aria-pressed="true">Recepción de mueble bebedero</a>

	<form action="." method="post" enctype="multipart/form-data">
		<h4>Actualización de documentación</h4>	
		{%csrf_token%}
		{{EdicionInstalacionForm | bootstrap}}
		<a href=""><input type="submit" value="Guardar cambios"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%else%}
	<form action="." method="post" enctype="multipart/form-data">
		<h4>Registro de documentación de la escuela {{escuela.get_full_name}}</h4>
		{%csrf_token%}
		{{NuevaInstalacionForm | bootstrap}}
		<a href=""><input type="submit" value="Crear registro"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%endif%}

{%endblock content%}