{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}
	
	<div class="row">
		<div class="col-12">	
	
			<h1>Instalación de Bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if instalacion%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>
	
	<div class="row justify-content-center ">
	<div class="col-md-5">

	<a href="{{instalacion.reporte.url}}" class="btn btn-primary" role="button" aria-pressed="true">Reporte de instalacion</a>
	</div>
		<div class="col-md-5">
	
		{%if instalacion.plano_instalacion%}
	
			<a href="{{instalacion.plano_instalacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Plano de Instalación</a>

		{%endif%}

		</div>
		<div class="col-md-5">
	
		{%if instalacion.memoria_calculo%}
		
			<a href="{{instalacion.memoria_calculo.url}}" class="btn btn-primary" role="button" aria-pressed="true">Memoria de calculo</a>

		{%endif%}
	
		</div>
		<div class="col-md-5">
	
		{%if instalacion.trabajos_de_conexion%}
	
			<a href="{{instalacion.trabajos_de_conexion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Trabajos de conexión</a>
		
		{%endif%}
		
		</div>
		<div class="col-md-5">
	
		{%if instalacion.recepcion_mueble_bebedero%}
			
			<a href="{{instalacion.recepcion_mueble_bebedero.url}}" class="btn btn-primary" role="button" aria-pressed="true">Recepción de mueble bebedero</a>

		{%endif%}
	
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
			<h4>Actualización de documentación</h4>
			{%csrf_token%}
			{{EdicionInstalacionForm | bootstrap}}
			<a href=""><input type="submit" value="Guardar cambios"></a>
			</form>
		</div>
	</div>

	{%else%}

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
			<h4>Registro de documentación</h4>
			{%csrf_token%}
			{{NuevaInstalacionForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

	{%endif%}

{%endblock content%}