{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}

<h1>Inicio de trabajo</h1>

	<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>

	<form action="." method="post" enctype="multipart/form-data">
		<h4>Registro</h4>	
		{%csrf_token%}
		{{NuevaEvidenciaForm | bootstrap}}
		<a href=""><input type="submit" value="Registrar"></a>
	</form>


<h4>Lista de bitacora</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<th>Folio</th>
			<th>Fase</th>
			<th>Creación</th>
			<th>Video</th>
			<th>Ejecutora</th>
			<th>Aprobacion</th>
		</thead>
		<tbody>
		
		{% for evidencia in bitacora%}

			<tr>
				<td>{{evidencia.pk}}</td>
				<td>{{evidencia.fase}}</td>
				<td>{{evidencia.creacion}}</td>
				<td><a href="{{evidencia.video.url}}">Ver</a></td>
				<td>{{evidencia.ejecutora}}</td>
				<td>{{evidencia.aprobacion}}</td>
			</tr>

		{%empty%}

			<tr>
				<td colspan="5"></td>
			</tr>

		{%endfor%}

		</tbody>
	</table>
</div>


	<form action="." method="post" enctype="multipart/form-data">
		<h4>Notas de bitacora</h4>	
		{%csrf_token%}
		{{NuevaNotaForm | bootstrap}}
		<a href=""><input type="submit" value="Registrar"></a>
	</form>

<h4>Lista de notas de bitacora</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<th>Folio</th>
			<th>Autor</th>
			<th>Nota (Minuta)</th>
			<th>Revisión</th>
			<th>Revisado</th>
			<th>Prioridad</th>
		</thead>
		<tbody>
		
		{% for nota in notas%}

			<tr>
				<td>{{nota.pk}}</td>
				<td>{{nota.autor}}</td>
				<td>{{nota.nota}}</td>
				<td>{{nota.creacion}}</td>
				<td>{{nota.resuelto}}</td>
				<td  {%if nota.prioridad == "Alta"%} style="background-color: red;" {%elif nota.prioridad == "Media"%} style="background-color: orange;" {%elif nota.prioridad == "Baja"%} style="background-color: yellow;" {%endif%}></td>
			</tr>

		{%empty%}

			<tr>
				<td colspan="4"></td>
			</tr>

		{%endfor%}

		</tbody>
	</table>
</div>

<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Regresar"></a>

{%endblock content%}