{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<div class="row">
		<div class="col-12">	
			<h1>Termino de trabajo</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if termino%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>

		<div class="row justify-content-center text-center">
		<div class="col-md-5">
		<a href="{{termino.reporte_segunda_toma.url}}" class="btn btn-primary" role="button" aria-pressed="true">Reporte de segunda toma de agua</a>
		</div>
		<div class="col-md-5">
			<a href="{{termino.plantilla_fotografica.url}}" class="btn btn-primary" role="button" aria-pressed="true">Plantilla fotográfica</a>
		</div>
		</div>

	{%else%}

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación</h4>
				{%csrf_token%}
				{{NuevoTerminoForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

	{%endif%}

{%endblock content%}