{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	{%if inicio%}

<h4>Ve y edita la documentación correspondiente de la visita al sitio de la escuela {{escuela.get_full_name}}</h4>

<a href="{{inicio.acta_inicio.url}}" class="btn btn-primary" role="button" aria-pressed="true">Acta de inicio</a>

<a href="{{inicio.hoja_cotizacion.url}}" class="btn btn-primary" role="button" aria-pressed="true">Hoja de cotización</a>

	<form action="." method="post" enctype="multipart/form-data">
		
		{%csrf_token%}
		{{EdicionInicioForm | bootstrap}}
		<a href=""><input type="submit" value="Guardar cambios"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%else%}
	<form action="." method="post" enctype="multipart/form-data">
		<h4>Registra la documentación correspondiente de la visita al sitio de la escuela {{escuela.get_full_name}}</h4>
		{%csrf_token%}
		{{NuevoInicioForm | bootstrap}}
		<a href=""><input type="submit" value="Crear registro"></a>
		<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}"><input class="" type="button" value="Cancelar"></a>
	</form>

	{%endif%}

{%endblock content%}