{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}


	<div class="row">
		<div class="col-12">

		{% for message in messages %}
	
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>

		{% endfor %}
		
			<h1>Evidencias de construcción e instalación de sistema bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.user.username%}">Regresar</a>
			<h3>Escuela {{escuela.get_full_name}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-12">

	{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.tipo == "Ejecutora"%}
		{%if evidencias.count < 10%}
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de evidencia de construcción</h4>	
				{%csrf_token%}
				{{NuevaEvidenciaForm | bootstrap}}
				<a href=""><input type="submit" value="Registrar"></a>
			</form>
		{%endif%}
	{%endif%}
			<h4>Evidencias de construcción</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>

					{%if not request.user.perfil.tipo == "INIFED"%}

						<th>Folio</th>

					{%endif%}
						<th>Fase</th>

					{%if not request.user.perfil.tipo == "INIFED"%}
						
						<th>Hora y fecha de registro</th>	
						<th>Aprobación de SIM</th>

						{%endif%}	
						<th colspan="{%if not request.user.perfil.tipo == "INIFED"%}2{%else%}1{%endif%}">Opciones</th>
					</thead>
					<tbody>
					
					{% for evidencia in evidencias%}

						<tr>
						{%if not request.user.perfil.tipo == "INIFED"%}

							<td>{{evidencia.pk}}</td>
						
						{%endif%}

							<td>{{evidencia.fase}}</td>
						
						{%if not request.user.perfil.tipo == "INIFED"%}
							<td>{{evidencia.creacion}}</td>
						{%endif%}
						{%if not request.user.perfil.tipo == "INIFED"%}

							<td>{{evidencia.aprobacion_SI}}</td>
						
						{%endif%}	
							<td><a href="{{evidencia.foto.url}}">Ver</a></td>

							{%if request.user.perfil.tipo == "Ejecutora" or request.user.perfil.tipo == "Administrador"%}

							<td><a href="{%url 'construccion:UpdateViewEvidencia' evidencia.pk%}">{%if request.user.perfil.tipo == "Administrador" or request.user.perfil.cargo == "SIM"%}Revisar{%else%}Editar{%endif%}</a></td>
							{%endif%}
						</tr>

					{%empty%}

						<tr>
							<td colspan="5">Sin registro</td>
						</tr>

					{%endfor%}

					</tbody>
				</table>
			</div>


		</div>
	</div>

	{%if evidencias.count == 10%}
		{%if envolvente%}

	<div class="row">
		<div class="col-12">
			<h4>Envolvente terminada</h4>
		</div>
	</div>
	
	<div class="row justify-content-center ">
		<div class="col-md-5">

			<a href="{{envolvente.video.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Video</a>
		</div>
	</div>

		{%else%}

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
			<h4>Registro de video de envolvente terminada</h4>
			{%csrf_token%}
			{{NuevaEnvolventeForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

		{%endif%}
	{%endif%}
	
{%endblock content%}