{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}


	<div class="row">
		<div class="col-12">	
			<h1>Evidencias de construcción e instalación de sistema bebedero</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	
	<div class="row">
		<div class="col-12">

	{%if not evidenciaFinal%}
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de evidencias de construcción</h4>	
				{%csrf_token%}
				{{NuevaEvidenciaForm | bootstrap}}
				<a href=""><input type="submit" value="Registrar"></a>
			</form>
	{%endif%}

			<h4>Lista de evidencias de construcción</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<th>Folio</th>
						<th>Fase</th>
						<th>Creación</th>
						<th>Aprobación de Superintendente</th>
						<th>Acciones</th>
					</thead>
					<tbody>
					
					{% for evidencia in evidencias%}

						<tr>
							<td>{{evidencia.pk}}</td>
							<td>{{evidencia.fase}}</td>
							<td>{{evidencia.creacion}}</td>
							<td>{{evidencia.aprobacion_SI}}</td>
							<td><a href="{%url 'construccion:UpdateViewEvidencia' evidencia.pk%}">Revisar</a></td>
						</tr>

					{%empty%}

						<tr>
							<td colspan="7">Sin registro</td>
						</tr>

					{%endfor%}

					</tbody>
				</table>
			</div>


		</div>
	</div>

	{%if instalacion%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de evidencias de instalación</h4>
		</div>
	</div>
	
	<div class="row justify-content-center ">
		<div class="col-md-5">

			<a href="{{instalacion.reporte.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Reporte de instalación</a>
		</div>

		<div class="col-md-5">
	
		{%if instalacion.recepcion_mueble_bebedero%}
			
			<a href="{{instalacion.recepcion_mueble_bebedero.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Recepción de mueble bebedero</a>

		{%endif%}
	
		</div>
	</div>

	{%else%}

	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
			<h4>Registro de evidencias de Instalación</h4>
			{%csrf_token%}
			{{NuevaInstalacionForm | bootstrap}}
			<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>

	{%endif%}
	
{%endblock content%}