{%extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<div class="row">
		<div class="col-12">	
			<h1>Inicio de trabajo</h1>
			<a href="{%url 'accounts:DetailViewEscuela' perfil.pk%}">Regresar</a>
			<h3>Escuela {{perfil.nivel_educativo}} "{{escuela.get_full_name}}"</h3>
		</div>
	</div>

	{%if inicio%}

	<div class="row">
		<div class="col-12">
			<h4>Consulta de documentación</h4>
		</div>
	</div>

	<div class="row justify-content-center text-center">
		<div class="col-md-5">

	{%if inicio.acta_inicio%}

			<a href="{{inicio.acta_inicio.url}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Acta de inicio de trabajos</a>

	{%else%}
		
		<p>Pendiente a subir</p>
	
	{%endif%}

		</div>
	</div>

	{%else%}
	
	{%if request.user.perfil.tipo == "INIFED" or request.user.perfil.tipo == "CEstatal"%}
	<div class="row">
		<div class="col-12">
			<form action="." method="post" enctype="multipart/form-data">
				<h4>Registro de documentación</h4>
				{%csrf_token%}
				{{NuevoInicioForm | bootstrap}}
				<a href=""><input type="submit" value="Crear registro"></a>
			</form>
		</div>
	</div>
	{%endif%}
	{%endif%}

{%endblock content%}