{%extends 'base.html'%}

{%load bootstrap%}

{%block content%}
	<div class="row">
		<div class="col-12">
			<h1>Incidencias</h1>
			<a href="{%url 'construccion:CRViewEvidencias' evidencia.escuela.perfil.pk%}">Regresar</a>
			<h3>Escuela {{evidencia.escuela.get_full_name}}</h3>

			<form action="." method="post" enctype="multipart/form-data">
				{%csrf_token%}
				{{EdicionEvidenciaForm | bootstrap}}
				<p>Fotografía: <a href="{{evidencia.foto.url}}">Ver</a></p>
				<p>Creación: {{evidencia.creacion}}</p>	
				{%if request.user.perfil.cargo == "SIM" or request.user.perfil.tipo == "Administrador"%}	
				{{EdicionEvidenciaForm2 | bootstrap}}
				{%endif%}
				<a href=""><input type="submit" value="Guardar cambios"></a>		
			</form>
		</div>
	</div>

{%endblock content%}